.card-heading{
    margin-bottom: 3.2rem;
}
.card{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card img{
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1.6rem;
}
.card button{
    padding: 1.2rem 2.4rem;
    font-size: 1.6rem;
    background-color: var(--main-color);
    color: var(--white-color);
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    box-shadow: var(--btn-box-shadow);
    transition: background-color 0.3s ease;
}
.super_hit{
    background-color: #7dcea0;
}
.average{
    background-color: #f7dc6f;
}
.rating{
    padding: 0.3rem 1.8rem;
    color: #000;
    margin-left: 1.2rem;
    border-radius: 100rem;
    -webkit-border-radius: 100rem;
    -moz-border-radius: 100rem;
    -ms-border-radius: 100rem;
    -o-border-radius: 100rem;
    /* color: var(--white-color); */
}